[submodule "pifuhd"]
	path = pifuhd
	url = https://github.com/facebookresearch/pifuhd
[submodule "RigNet"]
	path = RigNet
	url = https://github.com/zhan-xu/RigNet
[submodule "lightweight-human-pose-estimation.pytorch"]
	path = lightweight-human-pose-estimation.pytorch
	url = https://github.com/Daniil-Osokin/lightweight-human-pose-estimation.pytorch
