# This is a requirement.txt file
# to install all these requirements:
# `pip install -r requirements.txt`
# Make sure you have pip installed!
# To update just use `pip install -r requirements.txt --upgrade`
# Note: Install in the same order to avoid dependency mismatch

#Requirements for RigNet
numpy
scipy
matplotlib
tensorboard
open3d==0.9.0
opencv-python
rtree>=0.8,<0.9
trimesh[easy]

#Visualization
open3d
pymeshlab
pycocotools

#Requirements for PIFuHD
Pillow                # PIL
scikit-image          # skimage
tqdm
opencv-python         # cv2
trimesh
PyOpenGL
ffmpeg
